@media screen and (max-width: 414px) {
    body {
        margin: 0 1em 0 1em;
        background: linear-gradient(to right, rgb(0, 197, 204), rgb(48, 204, 0));
        background-repeat: no-repeat;
    }

    #comment {
        margin: 1em 0 0 0;
    }

    #name {
        margin: 0 0.5em 1em 0;
    }

    #gender {
        margin: 0 0.5em 0 0;
    }

    #submit {
        margin: 1em 0 0 0;
    }

    #bottom {
        background-color: lightgray;
        position: absolute;
        bottom: 0;
        width: 92%;
        font-size: 50px;
    }

    html {
        height: 100%;
        position: absolute;
    }
}










@media screen and (min-width: 414px) {
    body {
        margin: 0 1em 0 1em;
        background: linear-gradient(to right, rgb(0, 197, 204), rgb(48, 204, 0));
        background-repeat: no-repeat;
    }
    
    form {
        text-align: center;
        margin: 10em 0 0 0;
    }

    #comment {
        margin: 1em 0 0 0;
    }

    #name {
        margin: 0 0.5em 1em 0;
    }

    #gender {
        margin: 0 0.5em 0 0;
    }

    #submit {
        margin: 1em 0 0 0;
    }

    #bottom {
        background-color: lightgray;
        position: fixed;
        bottom: 0;
        font-size: 50px;
        margin: 0 0 5px 0;
    }

    html {
        height: 100%;
        width: 100%;
        position: absolute;
    }
    #loel {
        text-align: center;
    }
}
